{
  "presets": ["@babel/preset-env", "@babel/preset-typescript"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@base":".",
          "@controller": "./src/controller",
          "@repository": "./src/repository",
          "@models": "./src/models",
          "@middleware": "./src/middleware",
          "@routes": "./src/routes",
          "@services": "./src/services",
          "@test": "./test"
        }
      }
    ]
  ]
}
